.App {
  background-color: #282c34;
  min-height: 100vh;
  overflow-y: scroll;
}

.App-header {
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
  border: orange 1.5px solid;
  border-radius: 9px;
  min-height: 80px;

  @media screen and (max-width: 600px) {
    display: none;
  }
}

.Add-Task {
  margin: 70px 20px;
  align-items: center;
  justify-content: center;
  display: flex;

  @media screen and (max-width: 600px) {
    margin: 33px 20px;
  }
}

.Add-task-section {
  width: 40%;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 600px) {
    width: 80%;
  }
}

.Add-task-input {
  border-radius: 3px;
  background-color: #282c34;
  margin: 6px;
  border: orange 1.5px solid;
  width: auto;
  height: 30px;
  color: white;
}

.Task-section {
  margin: 70px 20px;
  flex-wrap: wrap;
  color: white;
  height: 250px;
  border: orange 1.5px solid;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 2px;
  overflow-y: auto;

  @media screen and (max-width: 600px) {
    border: none;
    margin: 33px 20px;
    height: auto;
  }
}

.App-header-section {
  flex-direction: column;
  margin-left: 25px;
  display: flex;

  h4 {
    margin-top: 16px;
    margin-bottom: 8px;
  }
  p {
    margin-top: -13px;
  }
}

.Plus-button {
  border: orange 1.5px solid;
  background-color: #282c34;
  border-radius: 5px;
  color: orange;
  font-size: 60px;
  height: 80px;
  width: 70px
}

.Task-bar {
  border: 1.5px orange solid;
  height: 0px;
  width: 80px;
  border-radius: 10px;

  @media screen and (max-width: 600px) {
    width: 96px;
  }
}

.No-task-section {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;

  @media screen and (max-width: 600px) {
    display: initial;

    p {
      margin-left: -15px;
      font-size: 33px;
    }
  }
}

.button-wrapper {
  display: flex;
  align-items: flex-end; 
}

@media screen and (max-width: 600px) {
  .button-wrapper {
    flex-direction: row; 
    align-items: center; 
    justify-content: flex-end;
    width: 100%; 
    margin-top: 10px; 
  }
}

.Todo-task {
  margin: 10px;
  justify-content: center;
  display: flex;
  width: 270px;
  height: 50px;
  border: 1px orange solid;
  border-radius: 5px;
  padding: 10px;
}

.Todo-inside-content {
  margin-left: 5px;
  margin-top: -18px;
  white-space: nowrap; 
  overflow: hidden;
  width: 180px;
  text-overflow: ellipsis;

  h3 {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.Todo-container {
  display: flex;
}

.Todo-text-content {
  height: auto;
  width: 180px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.info-button {
  border: orange 1.5px solid;
  background-color: #282c34;
  border-radius: 5px;
  color: orange;
  font-size: 13px;
  height: 23px;
  width: 23px;
  margin-left: 37px;
}

.delete-button {
  margin-left: 8px;
  border: orange 1.5px solid;
  background-color: #282c34;
  border-radius: 5px;
  color: orange;
  font-size: 13px;
  height: 23px;
  width: 23px;
}

.edit-button {
  border: orange 1.5px solid;
  background-color: #282c34;
  border-radius: 5px;
  height: 23px;
  width: 23px;
  margin-left: 7px;
}

.btn-wrapper {
  display: flex;
  margin: 12px;
}

.Add-task-input::placeholder {
  padding: 20px;
}

.delete-popup-container {
  position: fixed;
  z-index: 9999;
  background-color: #282c34;
  width: 200px;
  padding: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  p {
    margin-left: 38px;
  }

}

.delete-popup {
  display: flex;
  justify-content: space-around;
}

.popup-btn {
  border: orange 1.5px solid;
  background-color: #282c34;
  border-radius: 5px;
  color: orange;
  font-size: 13px;
  height: 30px;
  width: 50px;
  cursor: pointer;
}

.update-button {
  border: orange 1.5px solid;
  background-color: #282c34;
  border-radius: 5px;
  color: orange;
  font-size: 15px;
  height: 80px;
  width: 70px;
}

.Update-task-input {
  background-color: #282c34;
  height: 80px;
  border: orange 1.5px solid;
  margin-left: 6px;
  color: white;
  width: 96%;

  @media screen and (max-width: 800px) {
   width: 92%;
  }
}